@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Domine';
    src: url('src/assets/Domine-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
html {
    font-family: Domine;
}

.hide-scrollbar {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
